<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<Config>
	<!-- 通用配置 -->
	<Common str = "Common">
		<ConvertKey str = "8aa7c844f44dca9a0af98edc49759b01"/>
	</Common>
	<!-- 公告 -->
	<Notice str = "Notice" >
		<!--公告类型-->
		<!--当更改类型后NoticeUrl需要更改-->
		<!--LuaConfigNotice 、 CanViewNotice-->
		<noticeType str = "CanViewNotice"/>
	</Notice>
	<!-- 创角 -->
	<CreateRoleWithSkin str = "CreateRole">
		<!--是否全渠道启用新版赠送avatar创角流程-->
		<EnableAllChannel bool = "true"/>
		<!--启用新版赠送avatar创角流程的渠道-->
		<EnableApiid str = ""/>
		<!--启用新版赠送avatar创角流程的最低版本号-->
		<EnableMinimunVersion str = "0.57.10"/>
	</CreateRoleWithSkin>
	<!-- 聚合SDK U1表示海外V1版本 -->
	<U1MergeSDK str = "U1MergeSDK">
		<!--是否全渠道启用 聚合SDK-->
		<EnableAllChannel bool = "false"/>
		<!--启用聚合SDK的渠道-->
		<EnableApiid str = ""/>
		<!--是否全语言启用 聚合SDK-->
		<EnableAllLanguage bool = "false"/>
		<!-- <EnableLanguage str= "7" /> -->
		<!--启用聚合SDK的最低版本号-->
		<EnableMinimunVersion str = "0.59.7"/>
	</U1MergeSDK>
	<!-- 谷歌4.0+SDK的新流程开关-->
	<GOOGLE_40_SDK str = "GOOGLE_40_SDK">
		<!--是否启用 谷歌新流程-->
		<EnableNewProcess bool = "true"/>
		<!--启用谷歌新流程的最低版本号-->
		<EnableMinimunVersion str = "0.59.8"/>
	</GOOGLE_40_SDK>
	<!-- 房间服 -->
	<RoomService str = "RoomService">
		<!-- 启用Swagger请求 -->
		<UseSwagger bool = "true"/>
	</RoomService>
	<!-- 福利配置 -->
	<MarketActivity str = "MarketActivity">
		<!-- 福利版本：1、福利一期 2、福利二期 -->
		<Version str = "2"/>
		<ConvertKey str = "8aa7c844f44dca9a0af98edc49759b01"/>
		<TokenMallConvertKey str = "8aa7c844f44dca9a0af98edc49759b01"/>
		<TaskKey str = "9b97746d77abf53bb3b13a96814743be"/>
	</MarketActivity>
	<UploadMapV2 str = "UploadMapV2">
		<!--是否全渠道启用 聚合SDK-->
		<EnableAllChannel bool = "true"/>
		<!--启用聚合SDK的渠道-->
		<EnableApiid str = ""/>
		<!--是否全语言启用 聚合SDK-->
		<EnableAllLanguage bool = "true"/>
		<!-- <EnableLanguage str= "7" /> -->
		<!--启用聚合SDK的最低版本号-->
		<EnableMinimunVersion str = "1.0.50"/>
	</UploadMapV2>
	<CloudArchive str = "CloudArchive">
		<!--是否全渠道启用 云存档功能-->
		<EnableAllChannel bool = "true"/>
		<!--启用云存档的渠道-->
		<EnableApiid str = ""/>
		<!--启用云存档的最低版本号-->
		<EnableMinimunVersion str = "1.1.0"/>
	</CloudArchive>
	<!-- 通用赛事配置-->
	<CommonCompetitionActivity str = "CommonCompetitionActivity">
		<ConvertKey str = "8aa7c844f44dca9a0af98edc49759b01"/>
	</CommonCompetitionActivity>
	<!-- 联机大厅 new 和 排行榜 栏目 -->
	<MultiGameNewAndRank str = "MultiGameNewAndRank">
		<ConvertKey str = "dbf726159b4453a7cf41d6d7fe05d909"/>
	</MultiGameNewAndRank>
	<!-- 冷更新配置-->
	<ColdUpdate str = "ColdUpdate">
		<ConvertKey str = "8aa7c844f44dca9a0af98edc49759b01"/>
		<EnableAllChannel bool = "true"/>
		<EnableAllLanguage bool = "true"/>
		<!-- 指定开启渠道 -->
		<EnableApiid str = "|"/>
		<!-- 指定开启语言 -->
		<EnableLanguage str="|"/>
	</ColdUpdate>
	<!-- 联机大厅 new 和 排行榜 栏目 -->
	<MultiGameNewAndRank str = "MultiGameNewAndRank">
		<ConvertKey str = "dbf726159b4453a7cf41d6d7fe05d909"/>
	</MultiGameNewAndRank>
</Config>
